*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.titulo {
    text-align: center;
    margin: 0 auto;
  }

header {
    display: flex; /* para alinear los elementos en una fila */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* hace la distribucion de elementos en el espacio disponible */
    padding: 1px 35px 0px; 
    background-color: #daf7a6 ; /* color de fondo del encabezado */
    color: #fff; /* Cambia el color del texto en el encabezado */
}

/* para el logo */
.logo-header {
    margin-right: auto; /*colocamos logo en la izquierda */
}

/* para la barra de búsqueda */
.barra-busqueda {
    flex: 1;
    display: flex;
    max-width: 33.33%; /* limita el ancho a un tercio de la pantalla */
    justify-content: center; /* centra la barra de búsqueda */
}

/* para el input de búsqueda */
.barra-busqueda input[type="text"] {
    flex: 1; /* Hace que el input de búsqueda ocupe el espacio restante */
    padding: 10px; /* Añade relleno para mejorar la apariencia */
    border: 1px solid #ccc; /* Añade un borde al input */
    border-radius: 4px; /* Añade bordes redondeados */
} 

/* para el botón de búsqueda */
.barra-busqueda button {
    padding: 10px 15px; /* para mejorar la apariencia */
    background-color: #27dc2b; /* Cambia el color de fondo del botón */
    color: #fff; /* Cambia el color del texto del botón */
    border: none; 
    cursor: pointer; /* aparece la manito al pasar sobre el botón */
}

/* para los íconos de inicio de sesión y carrito de compra */
.iconos {
    display: flex; /* Utiliza flexbox para alinear los íconos en una fila */
    margin-left: auto; /* Empuja los íconos hacia la derecha */
    color: #289976;
    cursor: pointer;
}

/* para los íconos individuales */
.iconos i {
    font-size: 30px; 
    margin-left: 40px; /* Espacio entre los íconos */
    position: relative; /* Agrega posición relativa para que ::after funcione */
}

.iconos i::after {
    content: attr(data-text); /* Muestra el contenido del atributo data-text */
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    display: block; /* Coloca el texto en una línea debajo del ícono */
    font-size: 12px; /* Tamaño del texto */
    text-align: center; /* Centra el texto */
    margin-top: 6px; /* Espacio entre el ícono y el texto */
}

/*para el menu de navegacion*/
.menu-navegacion {
    display: flex; /*para centrar los elementos */
    justify-content: center; /* Centra los elementos horizontalmente */
    background-color: #f0e00bbd;
    padding: 8px 15px;
}

.menu-navegacion ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* uso flexbox para alinear los elementos de la lista */
}

.menu-navegacion li {
    margin-right: 20px;
    margin-left: 40px;
}

.menu-navegacion a {
    text-decoration: none; /* saca la subrayado de los enlaces */
    color: #333; /* Color del texto de los enlaces */
    font-size: 16px; /* Estilo de fuente */
    
}

/*Lo que sigue corresponde al banner*/

.container {
    display: flex;
    justify-content: center;
    padding: 0px 100px 0px 100px;
}

.caja1{
    display: flex;
    width: 420px;
    height: 310px;
       
}

.imag{
    float: right;
}

h1{
    font-size: 57px;   
}


/* Estilos para pantallas de tablet (501-1023px) */
@media screen and (max-width: 1023px) and (min-width: 501px) {
    header {
        padding: 1px 10px; /* Ajusta el espaciado del encabezado */
    }

    .logo-header {
        margin-right: 10px; /* reduce el espacio en el margen derecho para el logo */
    }

    .barra-busqueda {
        max-width: 50%; /* Reduce la barra de búsqueda */
    }

    /* Ajuste el tamaño de la fuente de los íconosOS*/
    .iconos i {
        font-size: 24px;
    }
}


/*LO QUE SIGUE SON DISEÑOS @MEDIA* PARA DISPOSITIVOS MOVILES*/

/* para pantallas de dispositivos móviles (320-500px)*/

@media screen and (max-width: 500px) and (min-width: 320px) {
    header {
        padding: 1px 10px; /* ajusta el espaciado del encabezado */
    }

    .logo-header {
        display: none; /* aculta el logo en dispositivos móviles */
    }

    .barra-busqueda {
        max-width: 80%; /* reducee el ancho de la barra de búsqueda */
    }

    
    .iconos i {
        font-size: 24px;
    }

    /* oculta el banner y ajusta el encabezado para dispositivos móviles dado su tamaño*/
    .container {
        display: none;
    }

    /* Estilo para el encabezado en dispositivos móviles */
    header {
        background-color: #f0e00bbd; /* Cambia el fondo del encabezado en dispositivos móviles */
    }

    .barra-busqueda input[type="text"] {
        font-size: 16px; /*aajusta el tamaño de fuente del campo de búsqueda */
    }
}

    
/*contenido central // oferta de cursos*/
main {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* se establece 4 columnas con grid */
    gap: 15px;
    padding: 20px;
    max-width: 1200px; /* se agrega un ancho máximo */
    margin: 0 auto; /* centramos el contenido */
}


/* para los cursos */
.curso {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0px;
    margin: 0px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    
}

/*Acá está el transform que escala levemente las cards*/
.curso:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} 

/* estilo para las imágenes de las cards*/
.curso img {
    max-width: 100%;
    height: auto;
    width: 100%; 
    height: 200px;

}

.curso h2 {
    font-size: 3.5rem;
    margin: 10px 0;
}

.curso p {
    font-size: 0.9rem;
    margin: 10px 0;
}

.curso .precio {
    font-size: 1.05rem;
    color: #0a0a0a;
    font-weight: bold;
}

.curso .boton {
    display: inline-block;
    margin: 5px 0;
    padding: 5px 10px;
    background-color: #27dc2b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    
}


/*Menu navegacion de cursos*/

.menu-paginas {
    text-align: center;
}

.menu-paginas ul {
    list-style: none;
    padding: 0;
}

.menu-paginas li {
    display: inline;
    margin: 0 10px;
}

.menu-paginas a {
    text-decoration: none;
    font-family: Akrobat, sans-serif;
    color: #000; 
    font-weight: bold; /* Hace el texto en negrita */
}


/* Seccion proyectos destacados del mes*/

.section {
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.section h1 {
    text-align: center;
    font-size: 38px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin: 0 2px; /* Margen a la izquierda y derecha de la página */
}

.grid-item {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.iframe-wrapper {
    position: relative;
    padding-bottom: 100%; /* Relación de aspecto 1:1 */
    height: 0;
    overflow: hidden;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

/* Estilos para el footer */
footer{
   
    display: flex;
    flex-flow: row wrap;
    padding: 9px 35px 35px;
    color: #289976;
    background-color:  #DAF7A6;
    font-family: 'Rubik', sans-serif;
    font-size: small;
}

.footer >*{
        flex: 1 100%; 

}

.footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em;

}

.footer-left img{
    width: 50%;

}

h3{
    font-weight: bolder;
    font-size: 18px;
}

.footer ul{
    list-style: none;
    padding-left: 0;

}

.footer li{
    line-height: 2em;

}

.footer a{
    text-decoration: none;
}

.footer-right{
    display: -webkit-flex;
    display: -moz-inline-box;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a{
    color: #289976;
}

.footer-bottom {
    text-align: center;
    color: #289976;
    border-color: #289976

}


.footer-left p{
    padding-right: 20%;
    color: #289976;

}

.socials {
    font-size: 30px; 
    margin-left: 20px;
    
}

.socials a i{
    
    padding: 10px 12px;
    font-size: 20px;
   

}

@media screen and (min-width: 600px){
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right{
        flex: 2 0px;
    }
}
